@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(to bottom, #1b1b1b 20%, #FFFFFF 20%);
    background-repeat: no-repeat;
    background-size: cover;
}